/* Estilo da seção de linha do tempo */
.timeline {
    position: relative;
    margin: 40px 0;
    padding: 40px;
    background-color: #222;
    border-radius: 10px;
}

.container-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline-item {
    padding: 20px 40px;
    position: relative;
    background-color: #333;
    margin-bottom: 40px;
    border-radius: 10px;
    color: #fff;
    transition: transform 0.3s;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.timeline-content {
    text-align: center;
}

.timeline-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.timeline-item h2 {
    margin: 0;
    font-size: 24px;
    color: rgb(42, 122, 228);
}

.timeline-item p {
    margin: 10px 0;
    font-size: 16px;
}
